@use "mixins.scss";
@use "variables.scss";

.header {
  text-align: left;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-left: 10px;
    }

    .switch-theme {
      width: 25px;
      height: 25px;
      cursor: pointer;
      margin-right: 15px;
    }
  }

  .filter {
    display: flex;
    overflow: auto;
    padding-bottom: 5px;

    .category-filter {
      margin: 5px 0 0 10px;
      background-color: variables.$filter-color;
    }
  }

  .sort-add-new {
    display: flex;

    @include mixins.breakpoint(medium) {
      display: block;
    }

    .select-dropdown {
      margin: 10px 0 0 10px;
    }

    .search-box {
      margin: 20px 0 0 20px;

      input {
        margin-right: 5px;
      }
    }

    .add-new {
      margin: 10px 40px 10px auto;
      font-size: 26px;
      cursor: pointer;
      padding: 5px;
      border-radius: 3px;
      display: block;

      &:hover {
        background-color: variables.$button-color;
      }

      @include mixins.breakpoint(medium) {
        margin-left: 15px;
      }
    }
  }
}
