@use "variables.scss";
@use "header.scss";
@use "listItem.scss";
@use "inputText.scss";
@use "mixins.scss";
@use "darkTheme.scss";

.cta-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#root {
  @include mixins.breakpoint(medium) {
    padding: 5px !important;
  }
}

.select-dropdown {
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 7px 7px 7px 0;
}

.add-new-item {
  input {
    margin-bottom: 10px;
  }
}